      
      body{
        background-color:rgb(175, 199, 161) ;
        line-height: 28px;
      }
      th{
        padding: 20px;
        border: 10px solid black;
        font-size: 20px;


        }
        td{
            padding: 20px;
            border: 10px solid black;
            font-size: 20px;
            }

        h1{
           
            color: #1f0dfb;
            background: center;
            background-color: #c0d0dd;
            font-size: 70px;
            padding: 50px;
            border: 5px groove #2008f4;
            font-family: cursive;
            text-align: center;
            position: sticky;
            background-repeat: no-repeat;
            margin: 31px;
        }

        h2{
          color: #1f0dfb;
    background: center;
    background-color: #c0d0dd;
    font-size: 30px;
    padding: 10px;
    border: 5px groove #2008f4;
    font-family: cursive;
    text-align: center;
    margin: 98px;
      }

      label{
        color: #1f0dfb;
    background: center;
    font-size: 20px;
    padding: 10px;
    border: 5px solid #2008f4;
    font-family: cursive;
    text-align: center;
    margin: 10px;
    position: relative;
     
      }

      input{
        font-style: italic;
        font-weight: 500;
        padding: 45px;
        background-color: #c0d0dd;;
        line-height: 25px;
        font-size: 25px;
        font-family: cursive;
        padding: 35px;
        line-height: 1.25;
        display: block;
      }
      a{
        display: contents;
    color: aliceblue;
    -webkit-text-stroke: thin;
    text-align: center;
    font-size: 30px;
      }
      p{
        font-style: italic;
        font-weight: 500;
        padding: 45px;
        background-color: #c0d0dd;;
        line-height: 25px;
        font-size: 25px;
        font-family: cursive;
        padding: 35px;
        line-height: 1.25;
        display: block;
        
      }

      img{
           float: left; 
           margin-right: 10px;
        }
        
        div{
            padding: 10px;
            border: 3px solid rgb(16, 44, 20);
            margin: 50px ;
            background-color: #c0d0dd;;
            display: inline-block;
         }

       
        