      
      body{
        width: 1300px;
        margin: auto;
        background-repeat: no-repeat;
        background-image: url("/img/2.jpg")
      }
      header{
        width: 1270px;
        margin: auto;
        height: 150px;
      }
      th{
        padding: 20px;
        border: 10px solid black;
        font-size: 20px;


        }
        td{
            padding: 20px;
            border: 10px solid black;
            font-size: 20px;
            }

        h1{
          color: #826c50;
          font-size: 70px;
          padding: 6px;
          border: 5px ridge #b9984e;
          font-family: unset;
          text-align: center;
          position: sticky;
          margin: 40px;
        }

        h2{
          color: #bf7b25;
    font-size: 40px;
    padding: 6px;
    font-family: unset;
    text-align: left;
    position: sticky;
    margin: 15px 0 0 33px;
      }

   .firstP{
    box-sizing: border-box;
    font-style: italic;
    font-weight: 500;
    padding: 45px;
    line-height: 25px;
    font-size: 25px;
    font-family: cursive;
    padding: 32px;
    line-height: 1.25;
    display: block;
    color: #b78d59;
   }

   .simiPic{
    width: 215px;
    float: left;
    height: 80px;

   }
   .bySidePic{
    box-sizing: border-box;
    font-style: italic;
    font-weight: 500;
    line-height: 25px;
    font-size: 25px;
    font-family: cursive;
    line-height: 1.25;
    display: block;
    color: #b78d59;
    font-style: italic;
    line-height: 25px;
    font-size: 25px;
    font-family: cursive;
   }
   .next{
    font-style: italic;
    font-weight: 500;
    line-height: 25px;
    font-size: 25px;
    font-family: cursive;
    padding: 0;
    color: #b78d59;
   }
   .srcoll{
     
    margin: 30px 82.5px 30px 0;
    background-color: #ddd;
    display: block;
    height: 400px;
    overflow-y: scroll;
    text-align: center;
    width: 480px;
   }
   section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
   }
      label{
        color: #1f0dfb;
  
    font-size: 20px;
    padding: 10px;
    border: 5px solid #2008f4;
    font-family: cursive;
    text-align: center;
    margin: 10px;
    position: relative;
     
      }

      input{
        font-style: italic;
        font-weight: 500;
        padding: 45px;
      
        line-height: 25px;
        font-size: 25px;
        font-family: cursive;
        padding: 35px;
        line-height: 1.25;
        display: block;
      }
      a{
        display: contents;
    color: brown;
    -webkit-text-stroke: thin;
    text-align: center;
    font-size: 30px;
      }
      p{
        font-style: italic;
        font-weight: 500;
        padding: 45px;
  
        line-height: 25px;
        font-size: 25px;
        font-family: cursive;
        padding: 35px;
        line-height: 1.25;
        display: block;
        
      }

      img{
           float: left; 
           margin-right: 10px;
        }
        
        div{
            padding: 10px;
            border: 3px solid rgb(16, 44, 20);
            margin: 50px ;
        
            display: inline-block;
         }
         div.picture {
          display: flex;
          margin: 5px;
          border: 1px solid #ccc;
          float: none;
          width: 195px;
          height: 234px;
        }
        
    
        
        div.picture img {
          width: 100%;
          height: auto;
        }
        
        iframe{
          float: right;
        }

        footer{
          width: 1270px;
        margin: auto;
        height: 150px;
        }

       
        
